# Stack-Phase Concept Test

In [1]:
import numpy as np
import pandas as pd

In [2]:
dic = {'A': [1, 4, 1, 4], 'B': ['a', 'b', 'c', 'd'], 'C': [0, 0, 5, 3]}
df = pd.DataFrame(dic)

In [3]:
df

   A  B  C
0  1  a  0
1  4  b  0
2  1  c  5
3  4  d  3

In [4]:
df2=pd.DataFrame([list(map(lambda x: [x], row)) for row in df.values], columns=df.columns)

In [5]:
df2['B']=df2['B'].apply(lambda x: ['123','456'])

In [6]:
df3 = pd.DataFrame([np.concatenate(row) for row in df2.values])

In [8]:
df3

   0    1    2  3
0  1  123  456  0
1  4  123  456  0
2  1  123  456  5
3  4  123  456  3